{% extends "index.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Cash</div>
      <div class="card-body">
        <h5 class="card-title">Cash</h5>
        <p class="card-text">{{ cash_amount | usd }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Bank Account</div>
      <div class="card-body">
        <h5 class="card-title">Bank Account</h5>
        <p class="card-text">{{ bank_account_amount | usd }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Credit</div>
      <div class="card-body">
        <h5 class="card-title">Credit</h5>
        <p class="card-text">{{ credit_amount | usd }}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Asset</div>
      <div class="card-body">
        <h5 class="card-title">Asset</h5>
        <p class="card-text">{{ asset_amount | usd }}</p>
      </div>
    </div>
  </div>
</div>
  <div class="d-block">
    <div class="card text-dark bg-light mb-3 mx-auto" style="max-width: 18rem;">
      <div class="card-header">Total Value</div>
      <div class="card-body">
        <h5 class="card-title">Total Value</h5>
        <p class="card-text">{{ total_value | usd }}</p>
      </div>
    </div>
  </div>


    <!--
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Cash</th>
              <th scope="col">Bank Account</th>
              <th scope="col">Credit</th>
              <th scope="col">Asset</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{ cash_amount | usd }} </th>
              <th>{{ bank_account_amount | usd }} </th>
              <th>{{ credit_amount | usd }} </th>
              <th>{{ asset_amount | usd }} </th>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="border-0 fw-bold text-end" colspan="3">Total Value:</td>
              <td class="border-0 w-bold text-end" colspan="3">{{ total_value | usd }}</td>
            </tr>
          </tfoot>
    </table>
    -->
{% endblock %}